@import './base.css';
@import 'tailwindcss';

#app {
  width: 90vw;

  margin: auto;
}
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    background-color: rgb(0, 136, 255);
  }
}
